form {
	padding: 2%;
	margin-left: 33%;
	margin-top: 14%;
	border: 1px solid;
	width: 27%;
	border-radius: 12px;
}

#btn {
	margin-top: 5%;
	margin-left: 16%;
}

label {
	font-size: 14px;
	font-family: lucida handwriting;
}

